html {
	width: 100%;
	height: 100%;
}

body{
	height: 100%;
	background-color: #FFF;
	overflow: auto;
}


.menustripe {
	/*position: fixed;*/
	top: 30px;
	left: 0px;
	font-size: 16pt;
	line-height: 18pt;
	width: 100%;
	height: 10px;
	background-color: #5E9CC5;
	overflow: hidden;
	z-index: 900033;
	opacity: 0.0;
	margin-bottom: 10px;
}


.btntest{
	/*position: fixed;*/
	/*left:300px;
	top:100px;*/
	z-index: 900038;
	/*float: right;*/
	margin-top: 10px;
}

.btnmargin{
	margin-top: 4px;
}

.container{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-image: url('../img/znbd-tile5.gif');
	background-repeat: repeat;
	background-attachment: fixed;
	z-index: -20000;
}

.pagescontainer{
	z-index: 89000;
	
}

.page{
		
		background-color: #FFF;
		border: 1px #5E9CC5 solid; 

		-moz-box-shadow: 0px 0px 10px #CCC;
		-webkit-box-shadow: 3px 3px 5px #CCC;
		box-shadow: 0px 0px 15px #999;

		overflow:auto;

}

.pagecontent{
	margin:5px;
	
}

.logo{
	/*position: fixed;*/
	
	z-index: 900041;
	width: 100px;
	height: 100px;
	float:left;
}

.logocontainer{
	z-index: 900040;
	width: 100px;
	height: 100px;
	float: left;
}

#news{
	min-height: 105px;
}

#news:after {
    content:"\a";
    white-space: pre;
}

.portraitimg{
	/*border: 1px solid #ccc;*/
	float: left;
	margin: 10px 20px 20px 0;
}