<div ng-show="currentPage=='about'">
	<img src="img/photo2.jpg" class="portraitimg img-polaroid" />
	<p class="lead">José Gómez is an award-winning Senior Web Developer and Interactive Designer with over 12 years of experience including ad agencies and educational startups.</p> 
	<p>Currently living in Austin, TX, USA, he enjoys exploring new technologies, practicing qigong and meditation, dj'ing electronic music, and most of all hanging out with his wife and son. He's thankful for the opportunity to work with clients such as GSD&amp;M, Razorfish, Coloring Book Studio, Sapling Learning, Enspire; and on big brands including BMW, U.S. Air Force, L.L. Bean, Wal-Mart, AT&amp;T, Kohler, and American Red Cross. </p>
	<p>His unique skill set in both development and design, coupled with leadership abilities allow him to produce high-quality work as well as boost the team's output. He has lead both developer and designer teams (in-house and offshore) and encourages best practices.</p>
	<p>
<strong class="label zlabel label-info">Expert</strong> <em>HTML5, CSS3, JavaScript, jQuery, XML, ActionScript, Adobe CS, WordPress, Drupal, Moodle</em>
<br/>
<strong class="label zlabel label-info">Familiar</strong> <em>AngularJS, JMVC, MySQL, PHP, Java, Android, Xcode, iOS, Apple iBooks, Unix, Amazon AWS, Apache, Twitter Bootstrap, Node.js, Selenium</em>
<br/>
<strong class="label zlabel">Marketing</strong> <em>Google Analytics, AdWords, SEO, Atlas, PointRoll, DoubleClick, Social Media</em>
<br/>
<strong class="label zlabel">Tools</strong> <em>Git, SVN, Agile, Scrum, CI, Jenkins, JIRA, Redmine, New Relic, Sublime Text, OmniGraffle </em>
<br/>
<strong class="label zlabel label-success">Awards</strong> <em>eSchoolMedia Reader's Choice 2013, Webby's Nominees Honorees 2009 2008, Yahoo! Web Award 2008, ACC Interactive Media Degree Curriculum Advisory Board 2009, CODiE Nominee 2007</em></p>

</div>