<div ng-show="currentPage=='contact'">
	<p class="lead">Please feel free to contact us regarding your next interactive web project</p> 
	<p> </p>
	<form class="form-horizontal" method='post' action='email.php'>
		<div class="control-group">
	    	<label class="control-label" for="inputName"><span class="label label-info">Name</span></label>
	    	<div class="controls">
	      		<input type="text" name="name" id="inputName" placeholder="First Last">
	    	</div>
	  	</div>
	  	<div class="control-group">
	    	<label class="control-label" for="inputEmail"><span class="label label-info">Email</span></label>
	    	<div class="controls">
	      		<input type="text" name="email" id="inputEmail" placeholder="email@domain.com">
	    	</div>
	  	</div>
	  	<div class="control-group">
	    	<label class="control-label" for="inputDesc"><span class="label label-info">Message</span></label>
	    	<div class="controls">
	      		<textarea id="inputDesc" name="message" rows="5" placeholder="Please provide a description."></textarea>
	    	</div>
	  	</div>
	  	<div class="control-group">
	    	<div class="controls">
	      		<button type="submit" class="btn btn-primary"><i class="icon-white icon-rocket"></i> Send</button>
	    	</div>
	  	</div>
	</form>
</div>