<div ng-show="currentPage=='exp'">
<strong class="label label-info">José Gómez</strong> <a href="JoseGomez_Resume_2013.pdf" target="_blank">download résumé</a><br>
2011.Current - sr. web developer + designer @ <a href="http://www.saplinglearning.com" target="blank">Sapling Learning</a> in Austin, TX<br>
2011.2011 - contract sr. interactive developer @ <a href="http://www.razorfish.com" target="blank">Avenue A | Razorfish</a> in Austin, TX<br>
2006.2010 - interactive developer + designer @ <a href="http://www.ideacity.com" target="blank">GSD&amp;M's Idea City</a> in Austin, TX<br>
2007.2008 - independent interactive developer @ <a href="http://www.enspire.com" target="blank">Enspire Learning</a> in Austin, TX<br>
2005.2006 - contract Flash developer + designer @ <a href="http://www.saplinglearning.com" target="blank">Sapling Systems</a> in Austin, TX<br>
2002.2005 - webmaster + designer + ecommerce @ <a href="http://www.americhem.biz" target="blank">AmeriChem Engineering</a> in Phx, AZ<br>
2000.Current - owner + designer + developer @ zonabidesign based in Austin, TX<br>
<br>

<strong class="label label-info">Awards</strong><br>
eSchoolMedia 2012 Reader's Choice Awards – SaplingLearning.com<br>
Webby's 2008 2009 Nominees, Honorees<br>
Yahoo! Web Award - DoSomethingAmazing.com, client GSD&amp;M for U.S. Air Force<br>
2009 Interactive Media Degree Curriculum Advisory Board, Austin Community College<br>
CODiE 2007 Award Nomination - Operation Science Quest, client: Sapling Systems<br>


<br>

<strong class="label label-info">Brand Experience</strong><br>
BMW, Kohler, U.S. Air Force, Wal-Mart, AT&amp;T, Macmillan McGraw-Hill, L.L.Bean, NCL Norweigan Cruise Lines, Intuit, Pearson, Hallmark, Chili's, American Red Cross, AARP, YellowPages, ACE, Dell, What-A-Burger, John Deere, American Legacy Foundation

<br><br>
<strong class="label label-info">Clients</strong><br>
GSD&amp;M's Idea City, Avenue A | Razorfish, Enspire Learning, Inc., McGarrah Jessee, Sapling Learning, LiveOnPage, ShoeHorn Design, Eanes Education Foundation, The Center for Dental Professionals, DrTana.com, AmeriChem Engineering Services, Mexic-Arte Museum, HolisticLocal.co.uk, Cristina Valdes Realtor, Coloring Book Studio, Peter Pan Mini Golf, EkklesiaEP, Dreamco Design, Manana Funding LLC, Dirty Bill's Bar

<br><br>

<strong class="label label-info">Recommendations</strong><br>
<blockquote>
“Jose was brought in to tackle some of the deeper aspects of Flash development on some tight turnaround projects at GSDM. In addition to completing his freelance projects on time, he would take it upon himself to share his knowledge with the group and better our work.”
<small>Nirav Patel, Interactive Developer, McGarrah Jessee</small>
</blockquote>


<blockquote>
“It is always a pleasure to work with Jose. His versatility and knowlege in different applications has made it easy to produce work quickly and efficiently. Jose's experience allows him to produce intelligent solutions to complex ideas. His desire to new technologies and better processes create an inspiring environment. Jose's creative ideas to reusable code is what I now continually strive for. Inspired.”

<small>Homero Cavazos, Interactive Studio Developer/Manager, GSD&amp;M's Idea City</small>
</blockquote>

<blockquote>“Jose has a unique combination of abilities. Not only is he able to work on the code-driven aspects of web and Flash development, but he can put together a great design and offer input to make any project even better. Jose can do it all; Flash, video, websites and music. All of this, combined with a great attitude and attention to detail make Jose a great person to work with.” <br>
<small>Justin Wetz, Senior Interactive Designer, T3</small>
</blockquote>



</div>