<div ng-show="currentPage=='social'">
  <p class="lead">Connect with José Gómez (zonabidesign) on various social networks. </p>

  <a class="btn btn-large" href="http://www.linkedin.com/in/joseg"><i class="icon icon-linkedin-sign"></i> LinkedIn</a>
  &nbsp;&nbsp;&nbsp;
  <a class="btn btn-large" href="http://www.facebook.com/zonabidesign"><i class="icon icon-facebook-sign"></i> Facebook</a>
  &nbsp;&nbsp;&nbsp;
  <a class="btn btn-large" href="http://www.twitter.com/zonabidesign"><i class="icon icon-twitter"></i> Twitter</a>
  &nbsp;&nbsp;&nbsp;
  <a class="btn btn-large" href="https://github.com/zonabi"><i class="icon icon-github-alt"></i> GitHub</a>

<br/><br/>

  <div id="news2">
  We have created and managed social media campaigns and develop integrated sites and experiences. Below are some examples. Please feel free to follow them.

  <br><br>
  zonabidesign | <a href="http://www.facebook.com/zonabidesign" target="_blank">Facebook</a> | <a class="linkedin-profileinsider-popup" href="http://www.linkedin.com/in/joseg">Linked</a> | <a href="http://www.twitter.com/zonabidesign" target="_blank">Twitter</a> | <a href="http://www.vimeo.com/zonabi" target="_blank">Vimeo</a> | over 1,440 followers combined

  <br><br>
  ACE Hardware (client GSD&amp;M) | <a href="http://www.facebook.com/acehardware" target="_blank">Facebook</a> | over 400,000 followers

  <br><br>
  <a href="http://MusicIsMyMedicine.com" target="_blank">Music Is My Medicine</a> | <a href="http://www.facebook.com/MusicIsMyMedicine" target="_blank">Facebook</a> | <a href="http://www.twitter.com/MusicMyMedicine" target="_blank">Twitter</a> | <a href="http://www.youtube.com/user/musicsmymedicine" target="_blank">YouTube</a> | <a href="http://www.flickr.com/photos/musicismymedicine/" target="_blank">Flickr</a> | over 4,500 followers combined

  <br><br>
  <a href="http://www.PeterPanMiniGolf.com" target="_blank">Peter Pan Mini Golf</a> | <a href="http://www.facebook.com/peterpanminigolf" target="_blank">Facebook</a> | over 3,000 followers, over 20,000 check-ins


  </div>

 
</div>