<div ng-show="currentPage=='work'">

<div id="news">
<img src="_images/znbd-web-legacy.jpg" alt="American Legacy - Become An Ex" width="200" height="100" style="margin-right:10px" align="left" /> <strong>BecomeAnEx.org by American Legacy Foundation</strong> - GSD&amp;M Idea City produced the BecomeAnEx.org campaign. José developed Rich Media banner ads and accompanying microsites to help smokers quit.
<a href="interactive-legacy-become-an-ex-site.html" target="_blank">microsite cigarette tracker</a><br>
 banners: <a href="interactive-legacy-coffee.html">coffee</a>, <a href="interactive-legacy-celebrate.html">celebrate</a>, <a href="interactive-legacy-friends.html">friends</a> - <br>
visit the site at <a href="http://www.becomeanex.org" rel="nofollow" target="_blank">BecomeAnEx.org</a>
</div>

<hr>
<div id="news">
<img src="_images/znbd-web-kohler.jpg" alt="Kohler Rich Media" width="200" height="100" style="margin-right:10px" align="left" /> <strong>Kohler Rich Media</strong> - Rich Media banner ads streamed various video formats efficiently, coupled with brilliant flash designs produced for GSD&amp;M's client Kohler.
<br><br>
rich media banners: <a href="interactive-kohler-missing.html">missing</a>, <a href="interactive-kohler-conquered-rich-media.html">conquered</a>,  <a href="interactive-kohler-nature.html">nature</a>
</div>

<hr>
<div id="news">
<img src="_images/znbd-web-osq1.jpg" alt="Operation: Science Quest" width="200" height="100" style="margin-right:10px" align="left" /> <strong>Operation: Science Quest</strong> is an interactive educational experience for Sapling Systems' client, Macmillan McGraw-Hill. Over 40 hours of total animation including Flash video, cartoon animation (full cast of characters), and Interactive Games that track students' scores for teachers. Also translated to Spanish. 
Examples: Grade 2: <a href="http://www.mhschool.com/science/2011/student/na/te/osq/G2_Fossils_Alpha/G2/Fossils/Fossils_Master.html" target="_blank"
>Fossils</a>, <a href="http://www.mhschool.com/science/2011/student/na/te/osq/G2_Objects_Alpha/G2/Objects/Objects_Master.html" target="_blank">Objects In Motion</a>. <br>
visit the page on the <a href="http://www.mhschool.com/science/2011/student/na/te/osq/G2.html" rel="nofollow" target="_blank">Macmillan McGraw-Hill website</a>
</div>

<hr>
<div id="news">
<img src="_images/znbd-web-power2talk.jpg" alt="Power2Talk" width="200" height="100" style="margin-right:10px" align="left" /> <strong>Power2Talk.org</strong> is a campaign website to help parents talk to their kids about the birds and the bees. It streams tons of video of green-screen transparent clips that integrate with the educational and resourceful site. Also helped develop the blog. 
<a href="http://www.power2talk.org" target="_blank">Power2Talk.org</a>. 
</div>


<hr>
<div id="news">
<img src="_images/znbd-web-ncl1.jpg" alt="NCL Cruise Lines" width="200" height="100" style="margin-right:10px" align="left" /> <strong>NCL Norweigan Cruise Lines</strong> prides their experience as being "Free To Whatever" - no dress codes, no set dining times, and José created these fun Interactive Banners that portray that freedom. znbd also produced award-winning work for NCL's Epic campaign. <br>
<br>
Banners: <a href="interactive-ncl-dresscode.html">Dress Code</a>, <a href="interactive-ncl-idealday.html">Ideal Day</a>. 


</div>


<hr>
<div id="news">
<img src="_images/znbd-web-acvb.gif" alt="ACVB website" width="200" height="100" style="margin-right:10px" align="left" /> <strong>AustinTexas.org ACVB website</strong> -In order to showcase the various activities available in austin to attract visitors, we helped develop the the rich media flash framework that lets you plan and share a day with the help of on-screen video avatar guides. visit the site at <a href="http://www.austintexas.org" rel="nofollow" target="_blank">AustinTexas.org</a>


</div>


<hr>
<div id="news">
<img src="_images/znbd-web-liveonpage.jpg" alt="Live On Page" width="200" height="100" style="margin-right:10px" align="left" /> <strong>Live On Page</strong> is an online video production and streaming company that creates friendly human actor avatars that can be placed on any website. Developed the video player: <a href="http://www.liveonpage.com" rel="nofollow" target="_blank">LiveOnPage.com</a>
</div>


<hr>
<div id="news">
<img src="_images/znbd-web-drtana2.gif" alt="DrTana.com dentist website" width="200" height="100" style="margin-right:10px" align="left" /> <strong>DrTana.com Cosmetic Denstistry in Austin</strong> - An elegant website design coupled with efficient xml-driven content, informative video and testimonials, and extensive content has driven tons more business to her company: <a href="http://www.drtana.com" rel="nofollow" target="_blank">DrTana.com</a>
</div>




<hr>
<div id="news">
<img src="_images/znbd-web-fiv.gif" alt="First Impressions Valet" width="200" height="100" style="margin-right:10px" align="left" /> <strong>FirstImpressionsValet.com</strong> - New website and campaigns for First Impressions Valet have them booking events all over Central Texas. <a href="http://www.firstimpressionsvalet.com" rel="nofollow" target="_blank">FirstImpressionsValet.com</a>
</div>





<hr>
<div id="news">
<img src="_images/znbd-web-center.gif" alt="TheCenterAustin" width="200" height="100" style="margin-right:10px" align="left" /> <strong>The Center For Dental Professionals in Austin</strong> - A progressive new Dental Academy started by a handful of talented Doctors in Central Texas. Our web solutions have effectively gotten prospective students registering daily. <a href="http://www.thecenteraustin.com" rel="nofollow" target="_blank">TheCenterAustin.com</a>
</div>

</div>